* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Russo One', sans-serif;
}

body {
	background-color: #1d1d1d;
}

.vertical-nav {
	position: fixed;
	background-color: #131313;
	height: 100%;
	width: 50px;
	.inner-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		svg {
			margin-bottom: 30px;
		}
	}
	.social-nav {
		position: absolute;
		bottom: 43px;
		left: 50%;
		transform: translateX(-50%);
		svg {
			margin-bottom: 17px;
		}
	}
}

main {
	position: absolute;
	top: 50%;
	left: 100px;
	transform: translateY(-50%);
	.big-txt {
		.about-me-heading {
			margin-bottom: 1rem;
		}
	}
	.small-txt {
		p {
			/* Junior Front End Developer / Wordpress expert / Freelancer */
			width: 589px;
			height: 24px;
			left: 158px;
			top: 692px;
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 19px;
			line-height: 23px;
			color: #3c3c3c;
			margin-left: 20px;
		}
		.about-txt {
			margin-bottom: 1rem;
		}
		.timeline-label {
			margin-bottom: 1rem;
		}
	}
	button {
		/* contact me button */
		width: 200px;
		height: 57px;
		left: 158px;
		top: 736px;
		border: 2px solid #ff8214;
		box-sizing: border-box;
		background-color: transparent;
		margin-top: 20px;
		margin-left: 20px;
		a {
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 36px;
			color: #ff8214;
			text-decoration: none;
		}
	}
}
.blog-corner {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
