* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Russo One', sans-serif;
}

body {
	background-color: #1d1d1d;
	overflow: hidden;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ff8214' fill-opacity='0.05' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}


// ANIMATION
@keyframes pageTransitionIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

// NAVIGATION
.vertical-nav {
	position: fixed;
	background-color: #131313;
	height: 100%;
	width: 50px;
	.inner-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		svg {
			margin-bottom: 30px;
			transition: 0.3s ease-in-out;
			&:hover {
				transform: scale(1.3);
				path {
					fill: #ff8214;
				}
			}
		}
	}
	.social-nav {
		position: absolute;
		bottom: 43px;
		left: 50%;
		transform: translateX(-50%);
		svg {
			margin-bottom: 17px;
			transition: 0.3s ease-in-out;
			&:hover {
				transform: scale(1.3);
				path {
					fill: #ff8214;
				}
			}
		}
	}
}
// END NAVIGATION

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding-left: 7rem;
	// LOGO
	#inner-logo {
		position: absolute;
		top: 10%;
		right: 16%;
		transform: translateY(-50%);
		transform: rotate(-25deg);
		opacity: 0.1;
	}
	.a-big-txt {
		max-width: 388px;
		height: 96px;
		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		line-height: 96px;
		color: #ff8214;
	}
}
.blog-corner {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

// HOMEPAGE
.homepage {
	animation: pageTransitionIn 1.00s ease-in-out;
	.h-big-txt {
		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 120px;
		color: #ffffff;
		h1 {
			span {
				color: #ff8214;
			}
		}
	}
	.h-small-txt {
		p {
			width: 589px;
			height: 24px;
			left: 158px;
			top: 692px;
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 19px;
			line-height: 23px;
			color: #3c3c3c;
		}
	}
	.h-btn {
		width: 200px;
		height: 57px;
		padding: 1rem 2rem;
		left: 158px;
		top: 736px;
		border: 2px solid #3c3c3c;
		box-sizing: border-box;
		background-color: transparent;
		margin-top: 50px;
		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: #3c3c3c;
		text-decoration: none;
		transition: all .3s;
		&:hover {
			color: #ff8214;
			border: 2px solid #ff8214;
			transform: scale(1.1);
		}
	}
}

// ABOUT ME
.about {
	animation: pageTransitionIn 1.00s ease-in-out;
	.a-small-txt {
		margin-bottom: 3rem;
		p {
			max-width: 645px;
			max-height: 288px;
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			color: #ffffff;
			a {
				text-decoration: none;
				color: #ff8214;
			}
		}
	}
}

// SKILLS
.skills {
	animation: pageTransitionIn 1.00s ease-in-out;
	.s-big-txt {
		max-width: 1091px;
		height: 88px;
		font-family: Russo One;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 96px;
		color: #ff8214;
	}
	.s-small-txt {
		margin-bottom: 1rem;
		p {
			max-width: 645px;
			max-height: 288px;
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			color: #ffffff;
			a {
				color: #ff8214;
			}
		}
	}
	.skills-container {
		width: 500px;
		padding: 20px;
		li {
			position: relative;
			list-style: none;
			margin: 50px 0;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;
			&::before {
				content: "";
				position: absolute;
				top: calc(100% + 10px);
				left: 0;
				width: 100%;
				height: 15px;
				background-color: #ff8214;
				opacity: 0.3;
				border-radius: 1000px;
			}
			&::after {
				content: "";
				position: absolute;
				top: calc(100% + 10px);
				left: 0;
				width: 0;
				height: 15px;
				background-color: #ff8214;
				border-radius: 1000px;
				animation-duration: .7s;
				animation-timing-function: ease-in-out;
				animation-fill-mode: forwards;
				animation-delay: .7s;
			}
			&.wordpress::after {
				animation-name: wordpress;
			}
			@keyframes wordpress {
				to {
					width: 85%;
				}
			}
			&.html::after {
				animation-name: html;
			}
			@keyframes html {
				to {
					width: 80%;
				}
			}
			&.css::after {
				animation-name: css;
			}
			@keyframes css {
				to {
					width: 70%;
				}
			}
			&.js::after {
				animation-name: js;
			}
			@keyframes js {
				to {
					width: 60%;
				}
			}
			&.react::after {
				animation-name: react;
			}
			@keyframes react {
				to {
					width: 5%;
				}
			}
		}
	}
}

// MY WORK PAGE

.my-work {
	animation: pageTransitionIn 1.00s ease-in-out;
	display: flex;
	flex-direction: row;
	align-items: center;
	.left-work {
		flex: 50%;
		.m-big-txt {
			width: 356px;
			height: 96px;
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 40px;
			line-height: 96px;
			color: #ff8214;
		}
		.m-small-txt {
			ul {
				list-style-type: none;
				li {
					&:hover {
					}
					a {
						text-decoration: none;
						color: #3c3c3c;
						transition: all .3s ease;
						font-size: 1.5rem;
						&:hover {
							color: #ff8214;
							font-size: 1.7rem;
							transition: all .3s ease;
						}
					}
				}
			}
		}
	}
	.right-work {
		flex: 50%;
		border: #3c3c3c solid 1px;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		transition-duration: 500ms;
		position: relative;
		.project-info {
			text-align: center;
			height: 200px;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			color: #3c3c3c;
			display: none;
			h2 {
				a {
					color: #ff8214;
					text-decoration: none;
				}
			}
			p {
				color: #fff;
				span {
					color: greenyellow;
				}
				a {
					color: #fff;
				}
			}
		}
	}
}

// CONTACT PAGE

.contact {
	animation: pageTransitionIn 1.00s ease-in-out;
	display: flex;
	flex-direction: row;
	align-items: center;
	.left-contact {
		flex: 50%;
		.c-big-txt {
			max-width: 1091px;
			height: 88px;
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 40px;
			line-height: 96px;
			color: #ff8214;
		}
		.c-small-txt {
			margin-bottom: 3rem;
			p {
				max-width: 500px;
				max-height: 288px;
				font-family: Russo One;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 19px;
				color: #ffffff;
				margin-bottom: 3rem;
			}
		}
		#contact-form {
			input,
			textarea {
				background-color: #3c3c3c;
				border-radius: 5px;
				border: none;
				outline: none;
			}
			input {
				height: 50px;
			}
			#fname {
				width: 240px;
				margin-bottom: 1rem;
				&[type=text] {
					color: #ff8214;
					font-size: 16px;
					padding: 15px 20px;
				}
			}
			#email {
				width: 240px;
				&[type=email] {
					color: #ff8214;
					font-size: 16px;
					padding: 15px 20px;
				}
			}
			#subject {
				width: 486px;
				margin-bottom: 1rem;
				&[type=text] {
					color: #ff8214;
					font-size: 16px;
					padding: 15px 20px;
				}
			}
			#textarea {
				width: 486px;
				color: #ff8214;
				font-size: 16px;
				padding: 15px 20px;
				resize: none;
			}
			.ctc-btn {
				width: 72px;
				height: 32px;
				border: 2px solid #ff8214;
				box-sizing: border-box;
				border-radius: 5px;
				background-color: transparent;
				margin-top: 1rem;
				color: #ff8214;
				cursor: pointer;
				transition: .3s ease-in-out;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	.right-contact {
		flex: 50%;
		border-left: 1px solid #3c3c3c;
		height: 100%;
		#map {
			height: 100%;
		}
	}
}


// ███╗░░░███╗███████╗██████╗░██╗░█████╗░  ░██████╗░██╗░░░██╗███████╗██████╗░██╗░░░██╗
// ████╗░████║██╔════╝██╔══██╗██║██╔══██╗  ██╔═══██╗██║░░░██║██╔════╝██╔══██╗╚██╗░██╔╝
// ██╔████╔██║█████╗░░██║░░██║██║███████║  ██║██╗██║██║░░░██║█████╗░░██████╔╝░╚████╔╝░
// ██║╚██╔╝██║██╔══╝░░██║░░██║██║██╔══██║  ╚██████╔╝██║░░░██║██╔══╝░░██╔══██╗░░╚██╔╝░░
// ██║░╚═╝░██║███████╗██████╔╝██║██║░░██║  ░╚═██╔═╝░╚██████╔╝███████╗██║░░██║░░░██║░░░
// ╚═╝░░░░░╚═╝╚══════╝╚═════╝░╚═╝╚═╝░░╚═╝  ░░░╚═╝░░░░╚═════╝░╚══════╝╚═╝░░╚═╝░░░╚═╝░░░

// ░░███╗░░██████╗░░█████╗░░█████╗░██╗░░██╗
// ░████║░░╚════██╗██╔══██╗██╔══██╗╚██╗██╔╝
// ██╔██║░░░░███╔═╝██║░░██║██║░░██║░╚███╔╝░
// ╚═╝██║░░██╔══╝░░██║░░██║██║░░██║░██╔██╗░
// ███████╗███████╗╚█████╔╝╚█████╔╝██╔╝╚██╗
// ╚══════╝╚══════╝░╚════╝░░╚════╝░╚═╝░░╚═╝

// ███████╗░█████╗░░█████╗░██╗░░██╗
// ██╔════╝██╔══██╗██╔══██╗╚██╗██╔╝
// ██████╗░██║░░██║██║░░██║░╚███╔╝░
// ╚════██╗██║░░██║██║░░██║░██╔██╗░
// ██████╔╝╚█████╔╝╚█████╔╝██╔╝╚██╗
// ╚═════╝░░╚════╝░░╚════╝░╚═╝░░╚═╝

@media (max-width: 500px) {
	body {
		background-color: #1d1d1d;
		overflow: hidden;
	}

	// ANIMATION

	// NAVIGATION ---------------------500--------------------------------------
	.vertical-nav {
		position: fixed;
		background-color: #131313;
		height: 50px;
		width: 100%;
		.inner-nav {
			position: relative;
			top: unset;
			left: unset;
			transform: inherit;
			max-width: 200px;
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
			margin-top: 6.5px;
			svg {
				margin-bottom: 0px;
			}
		}
		.social-nav {
			position: absolute;
			bottom: 43px;
			left: 50%;
			transform: translateX(-50%);
			svg {
				margin-bottom: 17px;
			}
		}
	}
	// END NAVIGATION---------------------500--------------------------------------

	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		padding-left: 1rem;
		padding-right: 1rem;
		// LOGO---------------------500--------------------------------------
		#inner-logo {
			position: absolute;
			top: 18%;
			right: 50%;
			transform: rotate(0deg);
			transform: translateY(-50%) !important;
			transform: translateX(50%) !important;
			opacity: 0.05;
			z-index: -1;
			overflow: hidden;
		}
	}
	.blog-corner {
		position: absolute;
		top: unset;
		right: 0px;
		cursor: pointer;
		bottom: 0;
		transform: rotate(90deg);
	}

	// HOMEPAGE---------------------500--------------------------------------
	.homepage {
		.h-big-txt {
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 50px;
			color: #ffffff;
			h1 {
				span {
					color: #ff8214;
				}
			}
		}
		.h-small-txt {
			p {
				width: 300px;
				height: 24px;
				left: 158px;
				top: 692px;
				font-family: Russo One;
				font-style: normal;
				font-weight: normal;
				font-size: 19px;
				line-height: 23px;
				color: #3c3c3c;
			}
		}
		.h-btn {
			width: 200px;
			height: 57px;
			padding: 1rem 1rem;
			left: 158px;
			top: 736px;
			border: 2px solid #ff8214;
			box-sizing: border-box;
			background-color: transparent;
			margin-top: 50px;
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			color: #ff8214;
			text-decoration: none;
			text-align: center;
		}
	}

	// ABOUT ME---------------------500--------------------------------------
	.about {
		.a-big-txt {
			max-width: 388px;
			height: 96px;
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			line-height: 44px;
			color: #ff8214;
		}
		.a-small-txt {
			margin-bottom: 1rem;
			p {
				max-width: 645px;
				max-height: 288px;
				font-family: Russo One;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 19px;
				color: #ffffff;
			}
		}
		.timeline {
			display: none;
		}
	}

	// SKILLS---------------------500--------------------------------------
	.skills {
		.s-big-txt {
			max-width: 1091px;
			height: 88px;
			font-family: Russo One;
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			line-height: 44px;
			color: #ff8214;
			margin-bottom: 1rem;
		}
		.s-small-txt {
			margin-bottom: 0rem;
			p {
				max-width: 645px;
				max-height: 288px;
				font-family: Russo One;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 19px;
				color: #ffffff;
			}
		}
		.skills-container {
			display: none;
		}
	}

	// MY WORK PAGE---------------------500--------------------------------------

	.my-work {
		display: flex;
		flex-direction: row;
		align-items: center;
		.left-work {
			flex: 50%;
			.m-big-txt {
				width: 356px;
				height: 96px;
				font-family: Russo One;
				font-style: normal;
				font-weight: normal;
				font-size: 40px;
				line-height: 96px;
				color: #ff8214;
			}
			.m-small-txt {
				ul {
					list-style-type: none;
					li {
						&:hover {
						}
						a {
							text-decoration: none;
							color: #3c3c3c;
							transition: all .3s ease;
							font-size: 1.5rem;
							&:hover {
								color: #ff8214;
								font-size: 1.7rem;
								transition: all .3s ease;
							}
						}
					}
				}
			}
		}
		.right-work {
			flex: 50%;
			border: #3c3c3c solid 1px;
			height: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			transition-duration: 500ms;
		}
	}

	// CONTACT PAGE---------------------500--------------------------------------

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		.left-contact {
			flex: 50%;
			padding-top: 4rem;
			.c-big-txt {
				max-width: 1091px;
				height: 88px;
				font-family: Russo One;
				font-style: normal;
				font-weight: normal;
				font-size: 30px;
				line-height: 96px;
				color: #ff8214;
			}
			.c-small-txt {
				margin-bottom: 3rem;
				p {
					max-width: 500px;
					max-height: 288px;
					font-family: Russo One;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 19px;
					color: #ffffff;
					margin-bottom: 1rem;
				}
			}
			#contact-form {
				input,
				textarea {
					background-color: #3c3c3c;
					border-radius: 5px;
					border: none;
					outline: none;
					opacity: 0.8;
				}
				input {
					height: 50px;
				}
				#fname {
					width: 330px;
					margin-bottom: 1rem;
					&[type=text] {
						color: #ff8214;
						font-size: 16px;
						padding: 15px 20px;
					}
				}
				#email {
					width: 330px;
					margin-bottom: 1rem;
					&[type=email] {
						color: #ff8214;
						font-size: 14px;
						padding: 15px 20px;
					}
				}
				#subject {
					max-width: 330px;
					margin-bottom: 1rem;
					&[type=text] {
						color: #ff8214;
						font-size: 16px;
						padding: 15px 20px;
					}
				}
				#textarea {
					max-width: 330px;
					color: #ff8214;
					font-size: 16px;
					padding: 15px 20px;
					resize: none;
					height: 150px;
				}
				.ctc-btn {
					max-width: 72px;
					height: 32px;
					border: 2px solid #ff8214;
					box-sizing: border-box;
					border-radius: 5px;
					background-color: transparent;
					margin-top: 1rem;
					color: #ff8214;
				}
			}
		}
		.right-contact {
			flex: 50%;
			border-left: 1px solid #3c3c3c;
			height: 100%;
			display: none;
			#map {
				height: 100%;
				display: none;
			}
		}
	}
}
